[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
Flask = "*"
Flask-Session = "*"
SQLAlchemy = "*"
python-dotenv = "*"
xmltodict = "*"
requests = "*"

[requires]
python_version = "3.7"
